/* LOGO */

.logo {
    width: 50px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }
  .logo:hover {
    transform: scale(1.1);
    transition: 1s;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.7));
  
  }