/* ESTILOS EVENTOS */

#bodyComu {
 display: grid;
 grid-template-areas: "header header header"
                      "main main main"
                      "main main main"
                      "footer footer footer";
grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
    margin: 0;
    background-image: url(images/fondotodo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }

  #mainComunidad {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 80px;
   width: 100%;
    
  }

  h2 {
    color: white;
  }

  .containerCalendario {
    max-width: 90%;
    margin: 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px black;
    width: 100%;
  }

  h1 {
    text-align: center;
    color: rgb(66, 66, 66);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }

  thead {
    background-color: rgb(228, 86, 86);
    color: white;
  }

  th, td {
    padding: 14px;
    text-align: left;
    border: 1px solid rgb(207, 201, 201);
  }

  tr:nth-child(even) {
    background-color: rgb(221, 214, 214);
  }

  tr:hover {
    background-color: rgb(199, 152, 152);
  }

  th {
    text-transform: uppercase;
    font-size: 14px;
  }

  .bandera {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }

  @media (max-width: 1024px) {
    #bodyComu {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    #mainComunidad {
        padding: 50px;
    }

    .containerCalendario {
        max-width: 95%;
    }
}

@media (max-width: 768px) {
  #bodyComu {
      grid-template-areas: 
          "header"
          "main"
          "footer";
  }

  #mainComunidad {
      padding: 50px;
  }

  .containerCalendario {
      max-width: 100%;
      padding: 15px;
  }

  th, td {
      padding: 10px;
      font-size: 12px;
  }

  .bandera {
      width: 15px;
  }
}
  




  //PRUEBAS//

  /* From Uiverse.io by gharsh11032000 */ 

