/* INICIO ESTILOS PAGES */

#body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: url(images/fondotodo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
  
  #main {
    flex: 1;
    
  }
  
  
  
  
  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .titulo h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .text-section {
    flex: 1 1 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .text-section h2 {
    color: #444;
    margin-bottom: 10px;
  }
  
  .text-section p {
    color: #555;
    line-height: 1.6;
  }
  
  .imagenes {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .imagenes img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .text-section,
    .imagenes {
      flex: 1 1 100%; 
    }
  
    .content {
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .titulo h1 {
      font-size: 1.5rem;
    }
  
    .text-section h2 {
      font-size: 1rem;
    }
  
    .text-section p {
      font-size: 0.9rem;
    }
  
    .imagenes img {
      width: 100%; 
    }
  }