/* INICIO ESTILOS PAGES */

#body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: url(images/fondotodo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
  
  #main {
    flex: 1;
    
  }
  
  
  
  
  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .titulo h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .text-section {
    flex: 1 1 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .text-section h2 {
    color: #444;
    margin-bottom: 10px;
  }
  
  .text-section p {
    color: #555;
    line-height: 1.6;
  }
  
  .imagenes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .imagenes img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .text-section,
    .imagenes {
      flex: 1 1 100%; 
    }
  
    .content {
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .titulo h1 {
      font-size: 1.5rem;
    }
  
    .text-section h2 {
      font-size: 1rem;
    }
  
    .text-section p {
      font-size: 0.9rem;
    }
  
    .imagenes img {
      width: 100%; 
    }
  }



  .carduiverse {
    position: relative;
    width: 200px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .carduiverse svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
 
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
 
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }

  @media (max-width: 768px) {
    .carduiverse {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    .carduiverse {
      width: 100%;
    }
  }