.carduiverse:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

  .carduiverse:hover .card__content {
    transform: rotateX(0deg);
  }

  .carduiverse:hover svg {
    scale: 0;
  }